<div class="count-selector">
  <div (click)="decreaseCount()">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="3" viewBox="0 0 10 3" fill="none">
      <path d="M9.14019 3V0H0V3H9.14019Z" fill="#9AA89B"/>
    </svg>
  </div>
  <input class="small-input" [ngModel]="count" (change)="countChange()" type="text">
  <div (click)="increaseCount()">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
      <path d="M7.34885 12V7.20896H12.1401V4.81343H7.34885V0H4.9532V4.81343H0.140137V7.20896H4.9532V12H7.34885Z"
            fill="#9AA89B"/>
    </svg>
  </div>
</div>
